<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xinli.xinli">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/new_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.TestListActivity" />
        <activity android:name=".activity.DoTest" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".activity.MessageList" />
        <activity android:name=".activity.MineActivity" />
        <activity android:name=".activity.FileBrowserActivity" />

        <service
            android:name=".util.MyService"
            android:enabled="true"
            android:exported="true" />

        <!-- <activity android:name=".StartActivity"></activity> -->
        <activity android:name=".activity.ArticalActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.HistoryTestActivity" />
        <activity android:name=".activity.ShowTestResultActivity" />

        <service
            android:name=".util.NotifyService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xinli.xinli.NotifyService" />
            </intent-filter>
        </service>

        <activity android:name=".activity.EditTestActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.MyTestsActivity" />
        <activity
            android:name=".activity.TeacherTestListActivity"
            android:label="@string/title_activity_upload_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.PublishTestActivity"></activity>
    </application>

</manifest>